body{
    background-color: #20201f;
    font-size: 10px;
    color: #fbfafa;
    font-family: sans-serif;
}
.all{
    width: 80%;
    margin: 10px auto;
}

.nav{
    background-color: rgb(6, 248, 34);
    padding: 20px 10px;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
}

head h1.judul{
    text-align: center;

}

.nav{
    background-color: #f10606;
    border: 1px solid #070707;
    border-radius: 10px;
    margin-bottom: 10px;
}

div.nav ul{
    list-style: none;
    overflow: hidden;
}

div.nav ul li{
    float: left;
    text-transform: uppercase;
}

div.nav ul li a{
    display: block;
    padding: 0 20px;
    text-decoration: none;
    color: #ede9e9;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

div.nav ul li a:hover,
div.nav ul li a.hoverover {
    cursor: pointer;
    color: #f2e0e0;
}

.tabel{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    text-align: center;
}

th,td{
    font-size: 20px;
    padding: 12px 7px;
}